/* line 3, ../sass/flags64-semi.scss */
.f64 .flag.semi {
  background: url("resources/images/flags/flags64_semi.png") no-repeat;
}
/* line 7, ../sass/flags64-semi.scss */
.f64 ._African_Union.semi {
  background-position: 0 0px;
}
/* line 8, ../sass/flags64-semi.scss */
.f64 ._Arab_League.semi {
  background-position: 0 -64px;
}
/* line 9, ../sass/flags64-semi.scss */
.f64 ._ASEAN.semi {
  background-position: 0 -128px;
}
/* line 10, ../sass/flags64-semi.scss */
.f64 ._CARICOM.semi {
  background-position: 0 -192px;
}
/* line 11, ../sass/flags64-semi.scss */
.f64 ._CIS.semi {
  background-position: 0 -256px;
}
/* line 12, ../sass/flags64-semi.scss */
.f64 ._Commonwealth.semi {
  background-position: 0 -320px;
}
/* line 13, ../sass/flags64-semi.scss */
.f64 ._England.semi {
  background-position: 0 -384px;
}
/* line 14, ../sass/flags64-semi.scss */
.f64 ._European_Union.semi {
  background-position: 0 -448px;
}
/* line 15, ../sass/flags64-semi.scss */
.f64 ._Islamic_Conference.semi {
  background-position: 0 -512px;
}
/* line 16, ../sass/flags64-semi.scss */
.f64 ._Kosovo.semi {
  background-position: 0 -576px;
}
/* line 17, ../sass/flags64-semi.scss */
.f64 ._NATO.semi {
  background-position: 0 -640px;
}
/* line 18, ../sass/flags64-semi.scss */
.f64 ._Northern_Cyprus.semi {
  background-position: 0 -704px;
}
/* line 19, ../sass/flags64-semi.scss */
.f64 ._Northern_Ireland.semi {
  background-position: 0 -768px;
}
/* line 20, ../sass/flags64-semi.scss */
.f64 ._Olimpic_Movement.semi {
  background-position: 0 -832px;
}
/* line 21, ../sass/flags64-semi.scss */
.f64 ._OPEC.semi {
  background-position: 0 -896px;
}
/* line 22, ../sass/flags64-semi.scss */
.f64 ._Red_Cross.semi {
  background-position: 0 -960px;
}
/* line 23, ../sass/flags64-semi.scss */
.f64 ._Scotland.semi {
  background-position: 0 -1024px;
}
/* line 24, ../sass/flags64-semi.scss */
.f64 ._Somaliland.semi {
  background-position: 0 -1088px;
}
/* line 25, ../sass/flags64-semi.scss */
.f64 ._Tibet.semi {
  background-position: 0 -1152px;
}
/* line 26, ../sass/flags64-semi.scss */
.f64 ._United_Nations.semi {
  background-position: 0 -1216px;
}
/* line 27, ../sass/flags64-semi.scss */
.f64 ._Wales.semi {
  background-position: 0 -1280px;
}
/* line 29, ../sass/flags64-semi.scss */
.f64 .ad.semi {
  background-position: 0 -1344px;
}
/* line 30, ../sass/flags64-semi.scss */
.f64 .ae.semi {
  background-position: 0 -1408px;
}
/* line 31, ../sass/flags64-semi.scss */
.f64 .af.semi {
  background-position: 0 -1472px;
}
/* line 32, ../sass/flags64-semi.scss */
.f64 .ag.semi {
  background-position: 0 -1504px;
}
/* line 33, ../sass/flags64-semi.scss */
.f64 .ai.semi {
  background-position: 0 -1600px;
}
/* line 34, ../sass/flags64-semi.scss */
.f64 .al.semi {
  background-position: 0 -1664px;
}
/* line 35, ../sass/flags64-semi.scss */
.f64 .am.semi {
  background-position: 0 -1728px;
}
/* line 36, ../sass/flags64-semi.scss */
.f64 .an.semi {
  background-position: 0 -1792px;
}
/* line 37, ../sass/flags64-semi.scss */
.f64 .ao.semi {
  background-position: 0 -1856px;
}
/* line 38, ../sass/flags64-semi.scss */
.f64 .aq.semi {
  background-position: 0 -1920px;
}
/* line 39, ../sass/flags64-semi.scss */
.f64 .ar.semi {
  background-position: 0 -1984px;
}
/* line 40, ../sass/flags64-semi.scss */
.f64 .as.semi {
  background-position: 0 -2048px;
}
/* line 41, ../sass/flags64-semi.scss */
.f64 .at.semi {
  background-position: 0 -2112px;
}
/* line 42, ../sass/flags64-semi.scss */
.f64 .au.semi {
  background-position: 0 -2176px;
}
/* line 43, ../sass/flags64-semi.scss */
.f64 .aw.semi {
  background-position: 0 -2240px;
}
/* line 44, ../sass/flags64-semi.scss */
.f64 .az.semi {
  background-position: 0 -2304px;
}
/* line 45, ../sass/flags64-semi.scss */
.f64 .ba.semi {
  background-position: 0 -2368px;
}
/* line 46, ../sass/flags64-semi.scss */
.f64 .bb.semi {
  background-position: 0 -2432px;
}
/* line 47, ../sass/flags64-semi.scss */
.f64 .bd.semi {
  background-position: 0 -2496px;
}
/* line 48, ../sass/flags64-semi.scss */
.f64 .be.semi {
  background-position: 0 -2560px;
}
/* line 49, ../sass/flags64-semi.scss */
.f64 .bf.semi {
  background-position: 0 -2624px;
}
/* line 50, ../sass/flags64-semi.scss */
.f64 .bg.semi {
  background-position: 0 -2688px;
}
/* line 51, ../sass/flags64-semi.scss */
.f64 .bh.semi {
  background-position: 0 -2752px;
}
/* line 52, ../sass/flags64-semi.scss */
.f64 .bi.semi {
  background-position: 0 -2816px;
}
/* line 53, ../sass/flags64-semi.scss */
.f64 .bj.semi {
  background-position: 0 -2760px;
}
/* line 54, ../sass/flags64-semi.scss */
.f64 .bm.semi {
  background-position: 0 -2944px;
}
/* line 55, ../sass/flags64-semi.scss */
.f64 .bn.semi {
  background-position: 0 -3008px;
}
/* line 56, ../sass/flags64-semi.scss */
.f64 .bo.semi {
  background-position: 0 -3072px;
}
/* line 57, ../sass/flags64-semi.scss */
.f64 .br.semi {
  background-position: 0 -3136px;
}
/* line 58, ../sass/flags64-semi.scss */
.f64 .bs.semi {
  background-position: 0 -3200px;
}
/* line 59, ../sass/flags64-semi.scss */
.f64 .bt.semi {
  background-position: 0 -3264px;
}
/* line 60, ../sass/flags64-semi.scss */
.f64 .bw.semi {
  background-position: 0 -3328px;
}
/* line 61, ../sass/flags64-semi.scss */
.f64 .by.semi {
  background-position: 0 -3392px;
}
/* line 62, ../sass/flags64-semi.scss */
.f64 .bz.semi {
  background-position: 0 -3456px;
}
/* line 63, ../sass/flags64-semi.scss */
.f64 .ca.semi {
  background-position: 0 -3520px;
}
/* line 64, ../sass/flags64-semi.scss */
.f64 .cd.semi {
  background-position: 0 -3584px;
}
/* line 65, ../sass/flags64-semi.scss */
.f64 .cf.semi {
  background-position: 0 -3648px;
}
/* line 66, ../sass/flags64-semi.scss */
.f64 .cg.semi {
  background-position: 0 -3712px;
}
/* line 67, ../sass/flags64-semi.scss */
.f64 .ch.semi {
  background-position: 0 -3776px;
}
/* line 68, ../sass/flags64-semi.scss */
.f64 .ci.semi {
  background-position: 0 -3840px;
}
/* line 69, ../sass/flags64-semi.scss */
.f64 .ck.semi {
  background-position: 0 -3904px;
}
/* line 70, ../sass/flags64-semi.scss */
.f64 .cl.semi {
  background-position: 0 -3968px;
}
/* line 71, ../sass/flags64-semi.scss */
.f64 .cm.semi {
  background-position: 0 -4032px;
}
/* line 72, ../sass/flags64-semi.scss */
.f64 .cn.semi {
  background-position: 0 -4096px;
}
/* line 73, ../sass/flags64-semi.scss */
.f64 .co.semi {
  background-position: 0 -4160px;
}
/* line 74, ../sass/flags64-semi.scss */
.f64 .cr.semi {
  background-position: 0 -4224px;
}
/* line 75, ../sass/flags64-semi.scss */
.f64 .cu.semi {
  background-position: 0 -4288px;
}
/* line 76, ../sass/flags64-semi.scss */
.f64 .cv.semi {
  background-position: 0 -4352px;
}
/* line 77, ../sass/flags64-semi.scss */
.f64 .cy.semi {
  background-position: 0 -4416px;
}
/* line 78, ../sass/flags64-semi.scss */
.f64 .cz.semi {
  background-position: 0 -4480px;
}
/* line 79, ../sass/flags64-semi.scss */
.f64 .de.semi {
  background-position: 0 -4544px;
}
/* line 80, ../sass/flags64-semi.scss */
.f64 .dj.semi {
  background-position: 0 -4608px;
}
/* line 81, ../sass/flags64-semi.scss */
.f64 .dk.semi {
  background-position: 0 -4672px;
}
/* line 82, ../sass/flags64-semi.scss */
.f64 .dm.semi {
  background-position: 0 -4736px;
}
/* line 83, ../sass/flags64-semi.scss */
.f64 .do.semi {
  background-position: 0 -4800px;
}
/* line 84, ../sass/flags64-semi.scss */
.f64 .dz.semi {
  background-position: 0 -4864px;
}
/* line 85, ../sass/flags64-semi.scss */
.f64 .ec.semi {
  background-position: 0 -4928px;
}
/* line 86, ../sass/flags64-semi.scss */
.f64 .ee.semi {
  background-position: 0 -4992px;
}
/* line 87, ../sass/flags64-semi.scss */
.f64 .eg.semi {
  background-position: 0 -5056px;
}
/* line 88, ../sass/flags64-semi.scss */
.f64 .eh.semi {
  background-position: 0 -5120px;
}
/* line 89, ../sass/flags64-semi.scss */
.f64 .er.semi {
  background-position: 0 -5184px;
}
/* line 90, ../sass/flags64-semi.scss */
.f64 .es.semi {
  background-position: 0 -5248px;
}
/* line 91, ../sass/flags64-semi.scss */
.f64 .et.semi {
  background-position: 0 -5312px;
}
/* line 92, ../sass/flags64-semi.scss */
.f64 .fi.semi {
  background-position: 0 -5376px;
}
/* line 93, ../sass/flags64-semi.scss */
.f64 .fj.semi {
  background-position: 0 -5440px;
}
/* line 94, ../sass/flags64-semi.scss */
.f64 .fm.semi {
  background-position: 0 -5504px;
}
/* line 95, ../sass/flags64-semi.scss */
.f64 .fo.semi {
  background-position: 0 -5568px;
}
/* line 96, ../sass/flags64-semi.scss */
.f64 .fr.semi {
  background-position: 0 -5632px;
}
/* line 97, ../sass/flags64-semi.scss */
.f64 .ga.semi {
  background-position: 0 -5696px;
}
/* line 98, ../sass/flags64-semi.scss */
.f64 .gb.semi {
  background-position: 0 -5760px;
}
/* line 99, ../sass/flags64-semi.scss */
.f64 .gd.semi {
  background-position: 0 -5824px;
}
/* line 100, ../sass/flags64-semi.scss */
.f64 .ge.semi {
  background-position: 0 -5888px;
}
/* line 101, ../sass/flags64-semi.scss */
.f64 .gg.semi {
  background-position: 0 -5952px;
}
/* line 102, ../sass/flags64-semi.scss */
.f64 .gh.semi {
  background-position: 0 -6016px;
}
/* line 103, ../sass/flags64-semi.scss */
.f64 .gi.semi {
  background-position: 0 -6080px;
}
/* line 104, ../sass/flags64-semi.scss */
.f64 .gl.semi {
  background-position: 0 -6144px;
}
/* line 105, ../sass/flags64-semi.scss */
.f64 .gm.semi {
  background-position: 0 -6208px;
}
/* line 106, ../sass/flags64-semi.scss */
.f64 .gn.semi {
  background-position: 0 -6272px;
}
/* line 107, ../sass/flags64-semi.scss */
.f64 .gp.semi {
  background-position: 0 -6336px;
}
/* line 108, ../sass/flags64-semi.scss */
.f64 .gq.semi {
  background-position: 0 -6400px;
}
/* line 109, ../sass/flags64-semi.scss */
.f64 .gr.semi {
  background-position: 0 -6464px;
}
/* line 110, ../sass/flags64-semi.scss */
.f64 .gt.semi {
  background-position: 0 -6528px;
}
/* line 111, ../sass/flags64-semi.scss */
.f64 .gu.semi {
  background-position: 0 -6592px;
}
/* line 112, ../sass/flags64-semi.scss */
.f64 .gw.semi {
  background-position: 0 -6656px;
}
/* line 113, ../sass/flags64-semi.scss */
.f64 .gy.semi {
  background-position: 0 -6720px;
}
/* line 114, ../sass/flags64-semi.scss */
.f64 .hk.semi {
  background-position: 0 -6784px;
}
/* line 115, ../sass/flags64-semi.scss */
.f64 .hn.semi {
  background-position: 0 -6848px;
}
/* line 116, ../sass/flags64-semi.scss */
.f64 .hr.semi {
  background-position: 0 -6912px;
}
/* line 117, ../sass/flags64-semi.scss */
.f64 .ht.semi {
  background-position: 0 -6976px;
}
/* line 118, ../sass/flags64-semi.scss */
.f64 .hu.semi {
  background-position: 0 -7040px;
}
/* line 119, ../sass/flags64-semi.scss */
.f64 .id.semi {
  background-position: 0 -7104px;
}
/* line 120, ../sass/flags64-semi.scss */
.f64 .mc.semi {
  background-position: 0 -7104px;
}
/* line 121, ../sass/flags64-semi.scss */
.f64 .ie.semi {
  background-position: 0 -7168px;
}
/* line 122, ../sass/flags64-semi.scss */
.f64 .il.semi {
  background-position: 0 -7232px;
}
/* line 123, ../sass/flags64-semi.scss */
.f64 .im.semi {
  background-position: 0 -7296px;
}
/* line 124, ../sass/flags64-semi.scss */
.f64 .in.semi {
  background-position: 0 -7360px;
}
/* line 125, ../sass/flags64-semi.scss */
.f64 .iq.semi {
  background-position: 0 -7424px;
}
/* line 126, ../sass/flags64-semi.scss */
.f64 .ir.semi {
  background-position: 0 -7488px;
}
/* line 127, ../sass/flags64-semi.scss */
.f64 .is.semi {
  background-position: 0 -7552px;
}
/* line 128, ../sass/flags64-semi.scss */
.f64 .it.semi {
  background-position: 0 -7616px;
}
/* line 129, ../sass/flags64-semi.scss */
.f64 .je.semi {
  background-position: 0 -7680px;
}
/* line 130, ../sass/flags64-semi.scss */
.f64 .jm.semi {
  background-position: 0 -7744px;
}
/* line 131, ../sass/flags64-semi.scss */
.f64 .jo.semi {
  background-position: 0 -7808px;
}
/* line 132, ../sass/flags64-semi.scss */
.f64 .jp.semi {
  background-position: 0 -7872px;
}
/* line 133, ../sass/flags64-semi.scss */
.f64 .ke.semi {
  background-position: 0 -7936px;
}
/* line 134, ../sass/flags64-semi.scss */
.f64 .kg.semi {
  background-position: 0 -8000px;
}
/* line 135, ../sass/flags64-semi.scss */
.f64 .kh.semi {
  background-position: 0 -8064px;
}
/* line 136, ../sass/flags64-semi.scss */
.f64 .ki.semi {
  background-position: 0 -8128px;
}
/* line 137, ../sass/flags64-semi.scss */
.f64 .km.semi {
  background-position: 0 -8192px;
}
/* line 138, ../sass/flags64-semi.scss */
.f64 .kn.semi {
  background-position: 0 -8256px;
}
/* line 139, ../sass/flags64-semi.scss */
.f64 .kp.semi {
  background-position: 0 -8320px;
}
/* line 140, ../sass/flags64-semi.scss */
.f64 .kr.semi {
  background-position: 0 -8384px;
}
/* line 141, ../sass/flags64-semi.scss */
.f64 .kw.semi {
  background-position: 0 -8448px;
}
/* line 142, ../sass/flags64-semi.scss */
.f64 .ky.semi {
  background-position: 0 -8512px;
}
/* line 143, ../sass/flags64-semi.scss */
.f64 .kz.semi {
  background-position: 0 -8576px;
}
/* line 144, ../sass/flags64-semi.scss */
.f64 .la.semi {
  background-position: 0 -8640px;
}
/* line 145, ../sass/flags64-semi.scss */
.f64 .lb.semi {
  background-position: 0 -8704px;
}
/* line 146, ../sass/flags64-semi.scss */
.f64 .lc.semi {
  background-position: 0 -8768px;
}
/* line 147, ../sass/flags64-semi.scss */
.f64 .li.semi {
  background-position: 0 -8832px;
}
/* line 148, ../sass/flags64-semi.scss */
.f64 .lk.semi {
  background-position: 0 -8896px;
}
/* line 149, ../sass/flags64-semi.scss */
.f64 .lr.semi {
  background-position: 0 -8960px;
}
/* line 150, ../sass/flags64-semi.scss */
.f64 .ls.semi {
  background-position: 0 -9024px;
}
/* line 151, ../sass/flags64-semi.scss */
.f64 .lt.semi {
  background-position: 0 -9088px;
}
/* line 152, ../sass/flags64-semi.scss */
.f64 .lu.semi {
  background-position: 0 -9152px;
}
/* line 153, ../sass/flags64-semi.scss */
.f64 .lv.semi {
  background-position: 0 -9216px;
}
/* line 154, ../sass/flags64-semi.scss */
.f64 .ly.semi {
  background-position: 0 -9280px;
}
/* line 155, ../sass/flags64-semi.scss */
.f64 .ma.semi {
  background-position: 0 -9344px;
}
/* line 156, ../sass/flags64-semi.scss */
.f64 .md.semi {
  background-position: 0 -9408px;
}
/* line 157, ../sass/flags64-semi.scss */
.f64 .me.semi {
  background-position: 0 -9472px;
}
/* line 158, ../sass/flags64-semi.scss */
.f64 .mg.semi {
  background-position: 0 -9536px;
}
/* line 159, ../sass/flags64-semi.scss */
.f64 .mh.semi {
  background-position: 0 -9600px;
}
/* line 160, ../sass/flags64-semi.scss */
.f64 .mk.semi {
  background-position: 0 -9664px;
}
/* line 161, ../sass/flags64-semi.scss */
.f64 .ml.semi {
  background-position: 0 -9728px;
}
/* line 162, ../sass/flags64-semi.scss */
.f64 .mm.semi {
  background-position: 0 -9792px;
}
/* line 163, ../sass/flags64-semi.scss */
.f64 .mn.semi {
  background-position: 0 -9856px;
}
/* line 164, ../sass/flags64-semi.scss */
.f64 .mo.semi {
  background-position: 0 -9920px;
}
/* line 165, ../sass/flags64-semi.scss */
.f64 .mq.semi {
  background-position: 0 -9984px;
}
/* line 166, ../sass/flags64-semi.scss */
.f64 .mr.semi {
  background-position: 0 -10048px;
}
/* line 167, ../sass/flags64-semi.scss */
.f64 .ms.semi {
  background-position: 0 -10112px;
}
/* line 168, ../sass/flags64-semi.scss */
.f64 .mt.semi {
  background-position: 0 -10176px;
}
/* line 169, ../sass/flags64-semi.scss */
.f64 .mu.semi {
  background-position: 0 -10240px;
}
/* line 170, ../sass/flags64-semi.scss */
.f64 .mv.semi {
  background-position: 0 -10304px;
}
/* line 171, ../sass/flags64-semi.scss */
.f64 .mw.semi {
  background-position: 0 -10368px;
}
/* line 172, ../sass/flags64-semi.scss */
.f64 .mx.semi {
  background-position: 0 -10432px;
}
/* line 173, ../sass/flags64-semi.scss */
.f64 .my.semi {
  background-position: 0 -10496px;
}
/* line 174, ../sass/flags64-semi.scss */
.f64 .mz.semi {
  background-position: 0 -10560px;
}
/* line 175, ../sass/flags64-semi.scss */
.f64 .na.semi {
  background-position: 0 -10624px;
}
/* line 176, ../sass/flags64-semi.scss */
.f64 .nc.semi {
  background-position: 0 -10688px;
}
/* line 177, ../sass/flags64-semi.scss */
.f64 .ne.semi {
  background-position: 0 -10752px;
}
/* line 178, ../sass/flags64-semi.scss */
.f64 .ng.semi {
  background-position: 0 -10816px;
}
/* line 179, ../sass/flags64-semi.scss */
.f64 .ni.semi {
  background-position: 0 -10880px;
}
/* line 180, ../sass/flags64-semi.scss */
.f64 .nl.semi {
  background-position: 0 -10944px;
}
/* line 181, ../sass/flags64-semi.scss */
.f64 .no.semi {
  background-position: 0 -11008px;
}
/* line 182, ../sass/flags64-semi.scss */
.f64 .np.semi {
  background-position: 0 -11072px;
}
/* line 183, ../sass/flags64-semi.scss */
.f64 .nr.semi {
  background-position: 0 -11136px;
}
/* line 184, ../sass/flags64-semi.scss */
.f64 .nz.semi {
  background-position: 0 -11200px;
}
/* line 185, ../sass/flags64-semi.scss */
.f64 .om.semi {
  background-position: 0 -11264px;
}
/* line 186, ../sass/flags64-semi.scss */
.f64 .pa.semi {
  background-position: 0 -11328px;
}
/* line 187, ../sass/flags64-semi.scss */
.f64 .pe.semi {
  background-position: 0 -11392px;
}
/* line 188, ../sass/flags64-semi.scss */
.f64 .pf.semi {
  background-position: 0 -11456px;
}
/* line 189, ../sass/flags64-semi.scss */
.f64 .pg.semi {
  background-position: 0 -11520px;
}
/* line 190, ../sass/flags64-semi.scss */
.f64 .ph.semi {
  background-position: 0 -11584px;
}
/* line 191, ../sass/flags64-semi.scss */
.f64 .pk.semi {
  background-position: 0 -11648px;
}
/* line 192, ../sass/flags64-semi.scss */
.f64 .pl.semi {
  background-position: 0 -11712px;
}
/* line 193, ../sass/flags64-semi.scss */
.f64 .pr.semi {
  background-position: 0 -11776px;
}
/* line 194, ../sass/flags64-semi.scss */
.f64 .ps.semi {
  background-position: 0 -11840px;
}
/* line 195, ../sass/flags64-semi.scss */
.f64 .pt.semi {
  background-position: 0 -11904px;
}
/* line 196, ../sass/flags64-semi.scss */
.f64 .pw.semi {
  background-position: 0 -11968px;
}
/* line 197, ../sass/flags64-semi.scss */
.f64 .py.semi {
  background-position: 0 -12032px;
}
/* line 198, ../sass/flags64-semi.scss */
.f64 .qa.semi {
  background-position: 0 -12096px;
}
/* line 199, ../sass/flags64-semi.scss */
.f64 .re.semi {
  background-position: 0 -12160px;
}
/* line 200, ../sass/flags64-semi.scss */
.f64 .ro.semi {
  background-position: 0 -12224px;
}
/* line 201, ../sass/flags64-semi.scss */
.f64 .rs.semi {
  background-position: 0 -12288px;
}
/* line 202, ../sass/flags64-semi.scss */
.f64 .ru.semi {
  background-position: 0 -12352px;
}
/* line 203, ../sass/flags64-semi.scss */
.f64 .rw.semi {
  background-position: 0 -12416px;
}
/* line 204, ../sass/flags64-semi.scss */
.f64 .sa.semi {
  background-position: 0 -12480px;
}
/* line 205, ../sass/flags64-semi.scss */
.f64 .sb.semi {
  background-position: 0 -12544px;
}
/* line 206, ../sass/flags64-semi.scss */
.f64 .sc.semi {
  background-position: 0 -12608px;
}
/* line 207, ../sass/flags64-semi.scss */
.f64 .sd.semi {
  background-position: 0 -12672px;
}
/* line 208, ../sass/flags64-semi.scss */
.f64 .se.semi {
  background-position: 0 -12736px;
}
/* line 209, ../sass/flags64-semi.scss */
.f64 .sg.semi {
  background-position: 0 -12800px;
}
/* line 210, ../sass/flags64-semi.scss */
.f64 .si.semi {
  background-position: 0 -12864px;
}
/* line 211, ../sass/flags64-semi.scss */
.f64 .sk.semi {
  background-position: 0 -12928px;
}
/* line 212, ../sass/flags64-semi.scss */
.f64 .sl.semi {
  background-position: 0 -12992px;
}
/* line 213, ../sass/flags64-semi.scss */
.f64 .sm.semi {
  background-position: 0 -13056px;
}
/* line 214, ../sass/flags64-semi.scss */
.f64 .sn.semi {
  background-position: 0 -13120px;
}
/* line 215, ../sass/flags64-semi.scss */
.f64 .so.semi {
  background-position: 0 -13184px;
}
/* line 216, ../sass/flags64-semi.scss */
.f64 .sr.semi {
  background-position: 0 -13248px;
}
/* line 217, ../sass/flags64-semi.scss */
.f64 .st.semi {
  background-position: 0 -13312px;
}
/* line 218, ../sass/flags64-semi.scss */
.f64 .sv.semi {
  background-position: 0 -13376px;
}
/* line 219, ../sass/flags64-semi.scss */
.f64 .sy.semi {
  background-position: 0 -13440px;
}
/* line 220, ../sass/flags64-semi.scss */
.f64 .sz.semi {
  background-position: 0 -13504px;
}
/* line 221, ../sass/flags64-semi.scss */
.f64 .tc.semi {
  background-position: 0 -13568px;
}
/* line 222, ../sass/flags64-semi.scss */
.f64 .td.semi {
  background-position: 0 -13632px;
}
/* line 223, ../sass/flags64-semi.scss */
.f64 .tg.semi {
  background-position: 0 -13696px;
}
/* line 224, ../sass/flags64-semi.scss */
.f64 .th.semi {
  background-position: 0 -13760px;
}
/* line 225, ../sass/flags64-semi.scss */
.f64 .tj.semi {
  background-position: 0 -13824px;
}
/* line 226, ../sass/flags64-semi.scss */
.f64 .tl.semi {
  background-position: 0 -13888px;
}
/* line 227, ../sass/flags64-semi.scss */
.f64 .tm.semi {
  background-position: 0 -13952px;
}
/* line 228, ../sass/flags64-semi.scss */
.f64 .tn.semi {
  background-position: 0 -14016px;
}
/* line 229, ../sass/flags64-semi.scss */
.f64 .to.semi {
  background-position: 0 -14080px;
}
/* line 230, ../sass/flags64-semi.scss */
.f64 .tr.semi {
  background-position: 0 -14144px;
}
/* line 231, ../sass/flags64-semi.scss */
.f64 .tt.semi {
  background-position: 0 -14208px;
}
/* line 232, ../sass/flags64-semi.scss */
.f64 .tv.semi {
  background-position: 0 -14272px;
}
/* line 233, ../sass/flags64-semi.scss */
.f64 .tw.semi {
  background-position: 0 -14336px;
}
/* line 234, ../sass/flags64-semi.scss */
.f64 .tz.semi {
  background-position: 0 -14400px;
}
/* line 235, ../sass/flags64-semi.scss */
.f64 .ua.semi {
  background-position: 0 -14464px;
}
/* line 236, ../sass/flags64-semi.scss */
.f64 .ug.semi {
  background-position: 0 -14528px;
}
/* line 237, ../sass/flags64-semi.scss */
.f64 .us.semi {
  background-position: 0 -14592px;
}
/* line 238, ../sass/flags64-semi.scss */
.f64 .uy.semi {
  background-position: 0 -14656px;
}
/* line 239, ../sass/flags64-semi.scss */
.f64 .uz.semi {
  background-position: 0 -14720px;
}
/* line 240, ../sass/flags64-semi.scss */
.f64 .va.semi {
  background-position: 0 -14784px;
}
/* line 241, ../sass/flags64-semi.scss */
.f64 .vc.semi {
  background-position: 0 -14848px;
}
/* line 242, ../sass/flags64-semi.scss */
.f64 .ve.semi {
  background-position: 0 -14912px;
}
/* line 243, ../sass/flags64-semi.scss */
.f64 .vg.semi {
  background-position: 0 -14976px;
}
/* line 244, ../sass/flags64-semi.scss */
.f64 .vi.semi {
  background-position: 0 -15040px;
}
/* line 245, ../sass/flags64-semi.scss */
.f64 .vn.semi {
  background-position: 0 -15104px;
}
/* line 246, ../sass/flags64-semi.scss */
.f64 .vu.semi {
  background-position: 0 -15168px;
}
/* line 247, ../sass/flags64-semi.scss */
.f64 .ws.semi {
  background-position: 0 -15232px;
}
/* line 248, ../sass/flags64-semi.scss */
.f64 .ye.semi {
  background-position: 0 -15296px;
}
/* line 249, ../sass/flags64-semi.scss */
.f64 .za.semi {
  background-position: 0 -15360px;
}
/* line 250, ../sass/flags64-semi.scss */
.f64 .zm.semi {
  background-position: 0 -15424px;
}
/* line 251, ../sass/flags64-semi.scss */
.f64 .zw.semi {
  background-position: 0 -15488px;
}
