/* line 3, ../sass/flags64.scss */
.f64 .flag {
  background: url("resources/images/flags/flags64.png") no-repeat;
}
/* line 5, ../sass/flags64.scss */
.f64 ._African_Union {
  background-position: 0 0px;
}
/* line 6, ../sass/flags64.scss */
.f64 ._Arab_League {
  background-position: 0 -64px;
}
/* line 7, ../sass/flags64.scss */
.f64 ._ASEAN {
  background-position: 0 -128px;
}
/* line 8, ../sass/flags64.scss */
.f64 ._CARICOM {
  background-position: 0 -192px;
}
/* line 9, ../sass/flags64.scss */
.f64 ._CIS {
  background-position: 0 -256px;
}
/* line 10, ../sass/flags64.scss */
.f64 ._Commonwealth {
  background-position: 0 -320px;
}
/* line 11, ../sass/flags64.scss */
.f64 ._England {
  background-position: 0 -384px;
}
/* line 12, ../sass/flags64.scss */
.f64 ._European_Union {
  background-position: 0 -448px;
}
/* line 13, ../sass/flags64.scss */
.f64 ._Islamic_Conference {
  background-position: 0 -512px;
}
/* line 14, ../sass/flags64.scss */
.f64 ._Kosovo {
  background-position: 0 -576px;
}
/* line 15, ../sass/flags64.scss */
.f64 ._NATO {
  background-position: 0 -640px;
}
/* line 16, ../sass/flags64.scss */
.f64 ._Northern_Cyprus {
  background-position: 0 -704px;
}
/* line 17, ../sass/flags64.scss */
.f64 ._Northern_Ireland {
  background-position: 0 -768px;
}
/* line 18, ../sass/flags64.scss */
.f64 ._Olimpic_Movement {
  background-position: 0 -832px;
}
/* line 19, ../sass/flags64.scss */
.f64 ._OPEC {
  background-position: 0 -896px;
}
/* line 20, ../sass/flags64.scss */
.f64 ._Red_Cross {
  background-position: 0 -960px;
}
/* line 21, ../sass/flags64.scss */
.f64 ._Scotland {
  background-position: 0 -1024px;
}
/* line 22, ../sass/flags64.scss */
.f64 ._Somaliland {
  background-position: 0 -1088px;
}
/* line 23, ../sass/flags64.scss */
.f64 ._Tibet {
  background-position: 0 -1152px;
}
/* line 24, ../sass/flags64.scss */
.f64 ._United_Nations {
  background-position: 0 -1216px;
}
/* line 25, ../sass/flags64.scss */
.f64 ._Wales {
  background-position: 0 -1280px;
}
/* line 27, ../sass/flags64.scss */
.f64 .ad {
  background-position: 0 -1344px;
}
/* line 28, ../sass/flags64.scss */
.f64 .ae {
  background-position: 0 -1408px;
}
/* line 29, ../sass/flags64.scss */
.f64 .af {
  background-position: 0 -1472px;
}
/* line 30, ../sass/flags64.scss */
.f64 .ag {
  background-position: 0 -1504px;
}
/* line 31, ../sass/flags64.scss */
.f64 .ai {
  background-position: 0 -1600px;
}
/* line 32, ../sass/flags64.scss */
.f64 .al {
  background-position: 0 -1664px;
}
/* line 33, ../sass/flags64.scss */
.f64 .am {
  background-position: 0 -1728px;
}
/* line 34, ../sass/flags64.scss */
.f64 .an {
  background-position: 0 -1792px;
}
/* line 35, ../sass/flags64.scss */
.f64 .ao {
  background-position: 0 -1856px;
}
/* line 36, ../sass/flags64.scss */
.f64 .aq {
  background-position: 0 -1920px;
}
/* line 37, ../sass/flags64.scss */
.f64 .ar {
  background-position: 0 -1984px;
}
/* line 38, ../sass/flags64.scss */
.f64 .as {
  background-position: 0 -2048px;
}
/* line 39, ../sass/flags64.scss */
.f64 .at {
  background-position: 0 -2112px;
}
/* line 40, ../sass/flags64.scss */
.f64 .au {
  background-position: 0 -2176px;
}
/* line 41, ../sass/flags64.scss */
.f64 .aw {
  background-position: 0 -2240px;
}
/* line 42, ../sass/flags64.scss */
.f64 .az {
  background-position: 0 -2304px;
}
/* line 43, ../sass/flags64.scss */
.f64 .ba {
  background-position: 0 -2368px;
}
/* line 44, ../sass/flags64.scss */
.f64 .bb {
  background-position: 0 -2432px;
}
/* line 45, ../sass/flags64.scss */
.f64 .bd {
  background-position: 0 -2496px;
}
/* line 46, ../sass/flags64.scss */
.f64 .be {
  background-position: 0 -2560px;
}
/* line 47, ../sass/flags64.scss */
.f64 .bf {
  background-position: 0 -2624px;
}
/* line 48, ../sass/flags64.scss */
.f64 .bg {
  background-position: 0 -2688px;
}
/* line 49, ../sass/flags64.scss */
.f64 .bh {
  background-position: 0 -2752px;
}
/* line 50, ../sass/flags64.scss */
.f64 .bi {
  background-position: 0 -2816px;
}
/* line 51, ../sass/flags64.scss */
.f64 .bj {
  background-position: 0 -2760px;
}
/* line 52, ../sass/flags64.scss */
.f64 .bm {
  background-position: 0 -2944px;
}
/* line 53, ../sass/flags64.scss */
.f64 .bn {
  background-position: 0 -3008px;
}
/* line 54, ../sass/flags64.scss */
.f64 .bo {
  background-position: 0 -3072px;
}
/* line 55, ../sass/flags64.scss */
.f64 .br {
  background-position: 0 -3136px;
}
/* line 56, ../sass/flags64.scss */
.f64 .bs {
  background-position: 0 -3200px;
}
/* line 57, ../sass/flags64.scss */
.f64 .bt {
  background-position: 0 -3264px;
}
/* line 58, ../sass/flags64.scss */
.f64 .bw {
  background-position: 0 -3328px;
}
/* line 59, ../sass/flags64.scss */
.f64 .by {
  background-position: 0 -3392px;
}
/* line 60, ../sass/flags64.scss */
.f64 .bz {
  background-position: 0 -3456px;
}
/* line 61, ../sass/flags64.scss */
.f64 .ca {
  background-position: 0 -3520px;
}
/* line 62, ../sass/flags64.scss */
.f64 .cd {
  background-position: 0 -3584px;
}
/* line 63, ../sass/flags64.scss */
.f64 .cf {
  background-position: 0 -3648px;
}
/* line 64, ../sass/flags64.scss */
.f64 .cg {
  background-position: 0 -3712px;
}
/* line 65, ../sass/flags64.scss */
.f64 .ch {
  background-position: 0 -3776px;
}
/* line 66, ../sass/flags64.scss */
.f64 .ci {
  background-position: 0 -3840px;
}
/* line 67, ../sass/flags64.scss */
.f64 .ck {
  background-position: 0 -3904px;
}
/* line 68, ../sass/flags64.scss */
.f64 .cl {
  background-position: 0 -3968px;
}
/* line 69, ../sass/flags64.scss */
.f64 .cm {
  background-position: 0 -4032px;
}
/* line 70, ../sass/flags64.scss */
.f64 .cn {
  background-position: 0 -4096px;
}
/* line 71, ../sass/flags64.scss */
.f64 .co {
  background-position: 0 -4160px;
}
/* line 72, ../sass/flags64.scss */
.f64 .cr {
  background-position: 0 -4224px;
}
/* line 73, ../sass/flags64.scss */
.f64 .cu {
  background-position: 0 -4288px;
}
/* line 74, ../sass/flags64.scss */
.f64 .cv {
  background-position: 0 -4352px;
}
/* line 75, ../sass/flags64.scss */
.f64 .cy {
  background-position: 0 -4416px;
}
/* line 76, ../sass/flags64.scss */
.f64 .cz {
  background-position: 0 -4480px;
}
/* line 77, ../sass/flags64.scss */
.f64 .de {
  background-position: 0 -4544px;
}
/* line 78, ../sass/flags64.scss */
.f64 .dj {
  background-position: 0 -4608px;
}
/* line 79, ../sass/flags64.scss */
.f64 .dk {
  background-position: 0 -4672px;
}
/* line 80, ../sass/flags64.scss */
.f64 .dm {
  background-position: 0 -4736px;
}
/* line 81, ../sass/flags64.scss */
.f64 .do {
  background-position: 0 -4800px;
}
/* line 82, ../sass/flags64.scss */
.f64 .dz {
  background-position: 0 -4864px;
}
/* line 83, ../sass/flags64.scss */
.f64 .ec {
  background-position: 0 -4928px;
}
/* line 84, ../sass/flags64.scss */
.f64 .ee {
  background-position: 0 -4992px;
}
/* line 85, ../sass/flags64.scss */
.f64 .eg {
  background-position: 0 -5056px;
}
/* line 86, ../sass/flags64.scss */
.f64 .eh {
  background-position: 0 -5120px;
}
/* line 87, ../sass/flags64.scss */
.f64 .er {
  background-position: 0 -5184px;
}
/* line 88, ../sass/flags64.scss */
.f64 .es {
  background-position: 0 -5248px;
}
/* line 89, ../sass/flags64.scss */
.f64 .et {
  background-position: 0 -5312px;
}
/* line 90, ../sass/flags64.scss */
.f64 .fi {
  background-position: 0 -5376px;
}
/* line 91, ../sass/flags64.scss */
.f64 .fj {
  background-position: 0 -5440px;
}
/* line 92, ../sass/flags64.scss */
.f64 .fm {
  background-position: 0 -5504px;
}
/* line 93, ../sass/flags64.scss */
.f64 .fo {
  background-position: 0 -5568px;
}
/* line 94, ../sass/flags64.scss */
.f64 .fr {
  background-position: 0 -5632px;
}
/* line 95, ../sass/flags64.scss */
.f64 .ga {
  background-position: 0 -5696px;
}
/* line 96, ../sass/flags64.scss */
.f64 .gb {
  background-position: 0 -5760px;
}
/* line 97, ../sass/flags64.scss */
.f64 .gd {
  background-position: 0 -5824px;
}
/* line 98, ../sass/flags64.scss */
.f64 .ge {
  background-position: 0 -5888px;
}
/* line 99, ../sass/flags64.scss */
.f64 .gg {
  background-position: 0 -5952px;
}
/* line 100, ../sass/flags64.scss */
.f64 .gh {
  background-position: 0 -6016px;
}
/* line 101, ../sass/flags64.scss */
.f64 .gi {
  background-position: 0 -6080px;
}
/* line 102, ../sass/flags64.scss */
.f64 .gl {
  background-position: 0 -6144px;
}
/* line 103, ../sass/flags64.scss */
.f64 .gm {
  background-position: 0 -6208px;
}
/* line 104, ../sass/flags64.scss */
.f64 .gn {
  background-position: 0 -6272px;
}
/* line 105, ../sass/flags64.scss */
.f64 .gp {
  background-position: 0 -6336px;
}
/* line 106, ../sass/flags64.scss */
.f64 .gq {
  background-position: 0 -6400px;
}
/* line 107, ../sass/flags64.scss */
.f64 .gr {
  background-position: 0 -6464px;
}
/* line 108, ../sass/flags64.scss */
.f64 .gt {
  background-position: 0 -6528px;
}
/* line 109, ../sass/flags64.scss */
.f64 .gu {
  background-position: 0 -6592px;
}
/* line 110, ../sass/flags64.scss */
.f64 .gw {
  background-position: 0 -6656px;
}
/* line 111, ../sass/flags64.scss */
.f64 .gy {
  background-position: 0 -6720px;
}
/* line 112, ../sass/flags64.scss */
.f64 .hk {
  background-position: 0 -6784px;
}
/* line 113, ../sass/flags64.scss */
.f64 .hn {
  background-position: 0 -6848px;
}
/* line 114, ../sass/flags64.scss */
.f64 .hr {
  background-position: 0 -6912px;
}
/* line 115, ../sass/flags64.scss */
.f64 .ht {
  background-position: 0 -6976px;
}
/* line 116, ../sass/flags64.scss */
.f64 .hu {
  background-position: 0 -7040px;
}
/* line 117, ../sass/flags64.scss */
.f64 .id {
  background-position: 0 -7104px;
}
/* line 118, ../sass/flags64.scss */
.f64 .mc {
  background-position: 0 -7104px;
}
/* line 119, ../sass/flags64.scss */
.f64 .ie {
  background-position: 0 -7168px;
}
/* line 120, ../sass/flags64.scss */
.f64 .il {
  background-position: 0 -7232px;
}
/* line 121, ../sass/flags64.scss */
.f64 .im {
  background-position: 0 -7296px;
}
/* line 122, ../sass/flags64.scss */
.f64 .in {
  background-position: 0 -7360px;
}
/* line 123, ../sass/flags64.scss */
.f64 .iq {
  background-position: 0 -7424px;
}
/* line 124, ../sass/flags64.scss */
.f64 .ir {
  background-position: 0 -7488px;
}
/* line 125, ../sass/flags64.scss */
.f64 .is {
  background-position: 0 -7552px;
}
/* line 126, ../sass/flags64.scss */
.f64 .it {
  background-position: 0 -7616px;
}
/* line 127, ../sass/flags64.scss */
.f64 .je {
  background-position: 0 -7680px;
}
/* line 128, ../sass/flags64.scss */
.f64 .jm {
  background-position: 0 -7744px;
}
/* line 129, ../sass/flags64.scss */
.f64 .jo {
  background-position: 0 -7808px;
}
/* line 130, ../sass/flags64.scss */
.f64 .jp {
  background-position: 0 -7872px;
}
/* line 131, ../sass/flags64.scss */
.f64 .ke {
  background-position: 0 -7936px;
}
/* line 132, ../sass/flags64.scss */
.f64 .kg {
  background-position: 0 -8000px;
}
/* line 133, ../sass/flags64.scss */
.f64 .kh {
  background-position: 0 -8064px;
}
/* line 134, ../sass/flags64.scss */
.f64 .ki {
  background-position: 0 -8128px;
}
/* line 135, ../sass/flags64.scss */
.f64 .km {
  background-position: 0 -8192px;
}
/* line 136, ../sass/flags64.scss */
.f64 .kn {
  background-position: 0 -8256px;
}
/* line 137, ../sass/flags64.scss */
.f64 .kp {
  background-position: 0 -8320px;
}
/* line 138, ../sass/flags64.scss */
.f64 .kr {
  background-position: 0 -8384px;
}
/* line 139, ../sass/flags64.scss */
.f64 .kw {
  background-position: 0 -8448px;
}
/* line 140, ../sass/flags64.scss */
.f64 .ky {
  background-position: 0 -8512px;
}
/* line 141, ../sass/flags64.scss */
.f64 .kz {
  background-position: 0 -8576px;
}
/* line 142, ../sass/flags64.scss */
.f64 .la {
  background-position: 0 -8640px;
}
/* line 143, ../sass/flags64.scss */
.f64 .lb {
  background-position: 0 -8704px;
}
/* line 144, ../sass/flags64.scss */
.f64 .lc {
  background-position: 0 -8768px;
}
/* line 145, ../sass/flags64.scss */
.f64 .li {
  background-position: 0 -8832px;
}
/* line 146, ../sass/flags64.scss */
.f64 .lk {
  background-position: 0 -8896px;
}
/* line 147, ../sass/flags64.scss */
.f64 .lr {
  background-position: 0 -8960px;
}
/* line 148, ../sass/flags64.scss */
.f64 .ls {
  background-position: 0 -9024px;
}
/* line 149, ../sass/flags64.scss */
.f64 .lt {
  background-position: 0 -9088px;
}
/* line 150, ../sass/flags64.scss */
.f64 .lu {
  background-position: 0 -9152px;
}
/* line 151, ../sass/flags64.scss */
.f64 .lv {
  background-position: 0 -9216px;
}
/* line 152, ../sass/flags64.scss */
.f64 .ly {
  background-position: 0 -9280px;
}
/* line 153, ../sass/flags64.scss */
.f64 .ma {
  background-position: 0 -9344px;
}
/* line 154, ../sass/flags64.scss */
.f64 .md {
  background-position: 0 -9408px;
}
/* line 155, ../sass/flags64.scss */
.f64 .me {
  background-position: 0 -9472px;
}
/* line 156, ../sass/flags64.scss */
.f64 .mg {
  background-position: 0 -9536px;
}
/* line 157, ../sass/flags64.scss */
.f64 .mh {
  background-position: 0 -9600px;
}
/* line 158, ../sass/flags64.scss */
.f64 .mk {
  background-position: 0 -9664px;
}
/* line 159, ../sass/flags64.scss */
.f64 .ml {
  background-position: 0 -9728px;
}
/* line 160, ../sass/flags64.scss */
.f64 .mm {
  background-position: 0 -9792px;
}
/* line 161, ../sass/flags64.scss */
.f64 .mn {
  background-position: 0 -9856px;
}
/* line 162, ../sass/flags64.scss */
.f64 .mo {
  background-position: 0 -9920px;
}
/* line 163, ../sass/flags64.scss */
.f64 .mq {
  background-position: 0 -9984px;
}
/* line 164, ../sass/flags64.scss */
.f64 .mr {
  background-position: 0 -10048px;
}
/* line 165, ../sass/flags64.scss */
.f64 .ms {
  background-position: 0 -10112px;
}
/* line 166, ../sass/flags64.scss */
.f64 .mt {
  background-position: 0 -10176px;
}
/* line 167, ../sass/flags64.scss */
.f64 .mu {
  background-position: 0 -10240px;
}
/* line 168, ../sass/flags64.scss */
.f64 .mv {
  background-position: 0 -10304px;
}
/* line 169, ../sass/flags64.scss */
.f64 .mw {
  background-position: 0 -10368px;
}
/* line 170, ../sass/flags64.scss */
.f64 .mx {
  background-position: 0 -10432px;
}
/* line 171, ../sass/flags64.scss */
.f64 .my {
  background-position: 0 -10496px;
}
/* line 172, ../sass/flags64.scss */
.f64 .mz {
  background-position: 0 -10560px;
}
/* line 173, ../sass/flags64.scss */
.f64 .na {
  background-position: 0 -10624px;
}
/* line 174, ../sass/flags64.scss */
.f64 .nc {
  background-position: 0 -10688px;
}
/* line 175, ../sass/flags64.scss */
.f64 .ne {
  background-position: 0 -10752px;
}
/* line 176, ../sass/flags64.scss */
.f64 .ng {
  background-position: 0 -10816px;
}
/* line 177, ../sass/flags64.scss */
.f64 .ni {
  background-position: 0 -10880px;
}
/* line 178, ../sass/flags64.scss */
.f64 .nl {
  background-position: 0 -10944px;
}
/* line 179, ../sass/flags64.scss */
.f64 .no {
  background-position: 0 -11008px;
}
/* line 180, ../sass/flags64.scss */
.f64 .np {
  background-position: 0 -11072px;
}
/* line 181, ../sass/flags64.scss */
.f64 .nr {
  background-position: 0 -11136px;
}
/* line 182, ../sass/flags64.scss */
.f64 .nz {
  background-position: 0 -11200px;
}
/* line 183, ../sass/flags64.scss */
.f64 .om {
  background-position: 0 -11264px;
}
/* line 184, ../sass/flags64.scss */
.f64 .pa {
  background-position: 0 -11328px;
}
/* line 185, ../sass/flags64.scss */
.f64 .pe {
  background-position: 0 -11392px;
}
/* line 186, ../sass/flags64.scss */
.f64 .pf {
  background-position: 0 -11456px;
}
/* line 187, ../sass/flags64.scss */
.f64 .pg {
  background-position: 0 -11520px;
}
/* line 188, ../sass/flags64.scss */
.f64 .ph {
  background-position: 0 -11584px;
}
/* line 189, ../sass/flags64.scss */
.f64 .pk {
  background-position: 0 -11648px;
}
/* line 190, ../sass/flags64.scss */
.f64 .pl {
  background-position: 0 -11712px;
}
/* line 191, ../sass/flags64.scss */
.f64 .pr {
  background-position: 0 -11776px;
}
/* line 192, ../sass/flags64.scss */
.f64 .ps {
  background-position: 0 -11840px;
}
/* line 193, ../sass/flags64.scss */
.f64 .pt {
  background-position: 0 -11904px;
}
/* line 194, ../sass/flags64.scss */
.f64 .pw {
  background-position: 0 -11968px;
}
/* line 195, ../sass/flags64.scss */
.f64 .py {
  background-position: 0 -12032px;
}
/* line 196, ../sass/flags64.scss */
.f64 .qa {
  background-position: 0 -12096px;
}
/* line 197, ../sass/flags64.scss */
.f64 .re {
  background-position: 0 -12160px;
}
/* line 198, ../sass/flags64.scss */
.f64 .ro {
  background-position: 0 -12224px;
}
/* line 199, ../sass/flags64.scss */
.f64 .rs {
  background-position: 0 -12288px;
}
/* line 200, ../sass/flags64.scss */
.f64 .ru {
  background-position: 0 -12352px;
}
/* line 201, ../sass/flags64.scss */
.f64 .rw {
  background-position: 0 -12416px;
}
/* line 202, ../sass/flags64.scss */
.f64 .sa {
  background-position: 0 -12480px;
}
/* line 203, ../sass/flags64.scss */
.f64 .sb {
  background-position: 0 -12544px;
}
/* line 204, ../sass/flags64.scss */
.f64 .sc {
  background-position: 0 -12608px;
}
/* line 205, ../sass/flags64.scss */
.f64 .sd {
  background-position: 0 -12672px;
}
/* line 206, ../sass/flags64.scss */
.f64 .se {
  background-position: 0 -12736px;
}
/* line 207, ../sass/flags64.scss */
.f64 .sg {
  background-position: 0 -12800px;
}
/* line 208, ../sass/flags64.scss */
.f64 .si {
  background-position: 0 -12864px;
}
/* line 209, ../sass/flags64.scss */
.f64 .sk {
  background-position: 0 -12928px;
}
/* line 210, ../sass/flags64.scss */
.f64 .sl {
  background-position: 0 -12992px;
}
/* line 211, ../sass/flags64.scss */
.f64 .sm {
  background-position: 0 -13056px;
}
/* line 212, ../sass/flags64.scss */
.f64 .sn {
  background-position: 0 -13120px;
}
/* line 213, ../sass/flags64.scss */
.f64 .so {
  background-position: 0 -13184px;
}
/* line 214, ../sass/flags64.scss */
.f64 .sr {
  background-position: 0 -13248px;
}
/* line 215, ../sass/flags64.scss */
.f64 .st {
  background-position: 0 -13312px;
}
/* line 216, ../sass/flags64.scss */
.f64 .sv {
  background-position: 0 -13376px;
}
/* line 217, ../sass/flags64.scss */
.f64 .sy {
  background-position: 0 -13440px;
}
/* line 218, ../sass/flags64.scss */
.f64 .sz {
  background-position: 0 -13504px;
}
/* line 219, ../sass/flags64.scss */
.f64 .tc {
  background-position: 0 -13568px;
}
/* line 220, ../sass/flags64.scss */
.f64 .td {
  background-position: 0 -13632px;
}
/* line 221, ../sass/flags64.scss */
.f64 .tg {
  background-position: 0 -13696px;
}
/* line 222, ../sass/flags64.scss */
.f64 .th {
  background-position: 0 -13760px;
}
/* line 223, ../sass/flags64.scss */
.f64 .tj {
  background-position: 0 -13824px;
}
/* line 224, ../sass/flags64.scss */
.f64 .tl {
  background-position: 0 -13888px;
}
/* line 225, ../sass/flags64.scss */
.f64 .tm {
  background-position: 0 -13952px;
}
/* line 226, ../sass/flags64.scss */
.f64 .tn {
  background-position: 0 -14016px;
}
/* line 227, ../sass/flags64.scss */
.f64 .to {
  background-position: 0 -14080px;
}
/* line 228, ../sass/flags64.scss */
.f64 .tr {
  background-position: 0 -14144px;
}
/* line 229, ../sass/flags64.scss */
.f64 .tt {
  background-position: 0 -14208px;
}
/* line 230, ../sass/flags64.scss */
.f64 .tv {
  background-position: 0 -14272px;
}
/* line 231, ../sass/flags64.scss */
.f64 .tw {
  background-position: 0 -14336px;
}
/* line 232, ../sass/flags64.scss */
.f64 .tz {
  background-position: 0 -14400px;
}
/* line 233, ../sass/flags64.scss */
.f64 .ua {
  background-position: 0 -14464px;
}
/* line 234, ../sass/flags64.scss */
.f64 .ug {
  background-position: 0 -14528px;
}
/* line 235, ../sass/flags64.scss */
.f64 .us {
  background-position: 0 -14592px;
}
/* line 236, ../sass/flags64.scss */
.f64 .uy {
  background-position: 0 -14656px;
}
/* line 237, ../sass/flags64.scss */
.f64 .uz {
  background-position: 0 -14720px;
}
/* line 238, ../sass/flags64.scss */
.f64 .va {
  background-position: 0 -14784px;
}
/* line 239, ../sass/flags64.scss */
.f64 .vc {
  background-position: 0 -14848px;
}
/* line 240, ../sass/flags64.scss */
.f64 .ve {
  background-position: 0 -14912px;
}
/* line 241, ../sass/flags64.scss */
.f64 .vg {
  background-position: 0 -14976px;
}
/* line 242, ../sass/flags64.scss */
.f64 .vi {
  background-position: 0 -15040px;
}
/* line 243, ../sass/flags64.scss */
.f64 .vn {
  background-position: 0 -15104px;
}
/* line 244, ../sass/flags64.scss */
.f64 .vu {
  background-position: 0 -15168px;
}
/* line 245, ../sass/flags64.scss */
.f64 .ws {
  background-position: 0 -15232px;
}
/* line 246, ../sass/flags64.scss */
.f64 .ye {
  background-position: 0 -15296px;
}
/* line 247, ../sass/flags64.scss */
.f64 .za {
  background-position: 0 -15360px;
}
/* line 248, ../sass/flags64.scss */
.f64 .zm {
  background-position: 0 -15424px;
}
/* line 249, ../sass/flags64.scss */
.f64 .zw {
  background-position: 0 -15488px;
}
