// $base-color: #ff6200;
$base-gradien: 'glossy';

@import 'sencha-touch/default/all';

// $include_default_icons: false;

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// @include sencha-toolbar-ui('charcoal', #333);
// @include sencha-toolbar-ui('gray', #222, 'bevel', #d40e3f);

// Your custom code goes here..

// How-to-make-toolbar-buttons-appear-like-the-tab-bar-icons
// using-TabPanel-button-icons-in-a-Toolbar

// http://techtalktone.wordpress.com/2012/02/28/use-custom-button-icons-in-sencha-touch/

@include sencha-button-ui('orange', #ff6200, 'glossy');
@include sencha-button-ui('purple', #8e40c7, 'glossy');

@mixin custom-iconmask($name) {
  .x-tab img.#{$name}, .x-button img.x-icon-mask.#{$name} {
    -webkit-mask-image: inline-image('button_icons/' + $name + '.png');
  }
}

.property-image {
  float: left;
  width: 140px;
  height: 100px;
}

.property-content {
  padding-left: 20px;
  float: left;
}

.clear {
  clear: both;
}

// @include custom-iconmask('search_white');

.x-slider .x-thumb::before {
  width:  1.5em;
  height: 1.5em;
  top:    0.3em;
  left:   0.3em;  
}

.main-button {
  margin-bottom: 10px;
  width: 280px;

  .x-button-label {
    margin-right: 30px;
  }
}

.main-button.black {
  span.x-button-label {
    color: black !important;
  }    
}

.nav-bar .x-button {
  display: -webkit-box;
  display: box;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  img {
    position:relative;
    top:-3px;
  }
  span {
    padding-top:3px;
    font-size: 9px !important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-shadow: #000 0 -1px 1px;
  }
}

.vertical-text {
  writing-mode:tb-rl;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  white-space:nowrap;
  display:block;
  bottom:0;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  font-weight:normal;
  text-shadow: 0px 0px 1px #333;
}

// custom extended slider

.x-slider-field-input, .x-slider-field-text {
  .x-component-outer {
    padding: 0.5em;
  }
  .x-slider-helper {
    width: 30%;
  }
  .x-slider-helper .x-slider-helper-input {
    width: 100%;
    margin: 0;
    padding: 0.1em 0.3em;
    height: 2.2em;
    border: 1px solid #CCC;
  }
}

// pictos icons

@include pictos-iconmask('add_black');
@include pictos-iconmask('address_book');
@include pictos-iconmask('at'); // email
@include pictos-iconmask('attachment');
@include pictos-iconmask('bookmark_black');
@include pictos-iconmask('bookmark1');
@include pictos-iconmask('bookmark2');
@include pictos-iconmask('broadcast');
@include pictos-iconmask('calendar_add');
@include pictos-iconmask('calendar');
@include pictos-iconmask('calendar2');
@include pictos-iconmask('chat');
@include pictos-iconmask('check_black2');
@include pictos-iconmask('check2');
@include pictos-iconmask('compass1');
@include pictos-iconmask('compose_black');
@include pictos-iconmask('data');
@include pictos-iconmask('doc_compose1');
@include pictos-iconmask('doc_list');
@include pictos-iconmask('doc_new');
@include pictos-iconmask('doc_send');
@include pictos-iconmask('doc2');
@include pictos-iconmask('docs1');
@include pictos-iconmask('equalizer2');
@include pictos-iconmask('favorites_circle');
@include pictos-iconmask('flag');
@include pictos-iconmask('globe_black');
@include pictos-iconmask('globe2');
@include pictos-iconmask('help');
@include pictos-iconmask('home2');
@include pictos-iconmask('inbox2');
@include pictos-iconmask('inbox3');
@include pictos-iconmask('info_plain');
@include pictos-iconmask('list');
@include pictos-iconmask('locate3');
@include pictos-iconmask('lock_closed');
@include pictos-iconmask('mail');
@include pictos-iconmask('mail1');
@include pictos-iconmask('mail2');
@include pictos-iconmask('mail3');
@include pictos-iconmask('outbox');
@include pictos-iconmask('photo1');
@include pictos-iconmask('photo3');
@include pictos-iconmask('photos2');
@include pictos-iconmask('replytoall');
@include pictos-iconmask('rss');
@include pictos-iconmask('settings3');
@include pictos-iconmask('search_black');
@include pictos-iconmask('share');
@include pictos-iconmask('shop1');
@include pictos-iconmask('sync');
@include pictos-iconmask('twitter2');
@include pictos-iconmask('user_add');
@include pictos-iconmask('user_fave');
@include pictos-iconmask('video');